/dist/
/packages/
/apps/
/finetune/
/node_modules/
/.datasets/
**/.datasets/
/.packages/
/.cache/
/.vscode/

/__test_fs__/
/llm/queue/

/chat/
me.md

# private packages
/packages/0HCnAI.framework/
nan0web_agents.index.nan0
/output.txt
.continue/

# Local databases and cache
nan0web_store.csv
nan0web_store.local.csv
nan0web.json

# Temp and playground folders
/tmp/
/scratch/
/play/
.agent/
