# Dependencies
node_modules/
.pnpm-store/

# Build and IDE
dist/
.DS_Store
.vscode/
.idea/

# Testing
playwright-report/
test-results/
coverage/

# App State
_staged/
.staged/
.datasets/
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
